In [4]:
import pandas as pd
import numpy as np
data=pd.read_csv('/home/ashmin/Documents/Python/3D_Reconstruction/datasets/fountain-P11/calibration.csv')
data.head()

   6                          camera_intrinsics
0  a  2759.48 0 1520.69 0 2764.16 1006.81 0 0 1
1  b  2759.48 0 1520.69 0 2764.16 1006.81 0 0 1
2  c  2759.48 0 1520.69 0 2764.16 1006.81 0 0 1
3  d  2759.48 0 1520.69 0 2764.16 1006.81 0 0 1
4  e  2759.48 0 1520.69 0 2764.16 1006.81 0 0 1

In [3]:
df=pd.DataFrame(data)
value=1
print(df.columns.values.tolist())
df_1=df.loc[df['image_id']==value,'camera_intrinsics']
print(df_1)

['image_id', 'camera_intrinsics']
0    2759.48 0 1520.69 0 2764.16 1006.81 0 0 1
Name: camera_intrinsics, dtype: object